:root {
    --primary-color: #FF0000; 
    --primary-color-dark: #CC0000; 
    --secondary-color: #000000;
    --text-dark: #FFFFFF; 
    --text-light: #BBBBBB;
    --extra-light: #000000; 
    --max-width: 1200px;
}
#about {
  padding-top: 100px;
  scroll-margin-top: 80px; 
}
#skills {
  padding-top: 150px;
  scroll-margin-top: 80px;
}
#education {
  padding-top: 90px; 
  scroll-margin-top: 80px; 
}
#projects {
  padding-top: 150px;
  scroll-margin-top: 80px; 
}
#suggestions {
  padding-top: 150px; 
  scroll-margin-top: 80px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.text-red {
    color: red;
}
.text-blue{
  color:chartreuse
}
.text-purp{
  color: deeppink;
}
a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--extra-light); 
  color: var(--text-dark); 
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: black;
}

.nav__content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color-dark);
  transition: 0.3s;
}
nav .logo a:hover {
    color: white;
    scale: 110%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  transition: left 0.3s;
}
ul li {
  position: relative;
 }
  

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
  font-size: larger;
}

ul li a:hover {

  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}

.section {
  background-color: var(--secondary-color);
  color: var(--text-dark); 
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns:  1fr;
  gap: 2rem;
}
.section__title{
  font-size: 2rem;
  animation: fadeInLeft 1s ease-out;
}
  @keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -20px; 
}
.social__links {
  display: flex;
  gap: 7rem;
  position: relative;
  top: 10rem;
  left: 0rem;
  animation: fadeInUp 1s ease-out;
 

}
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.social__links a {
  color: var(--primary-color);
  font-size: 2rem; 
  transition: color 0.3s;
  
}
.social__links i {
  margin-right: 0.5rem; 
}
.social__links span {
  margin-left: 0.5rem;
  font-size: 1rem; 
}

.social__links a:hover {
  color: var(--text-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.about__container {
  display: flex;
  flex-direction: column;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
 
}


.about__title {
  order: 1;
}
.about__text {
  color: var(--text-light); 
  line-height: 1.5rem;
  width: 50%;
}
.about__image {
  width:30%;

}
#home .section__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

#about .section__container {
  display: flex;
  flex-direction: column;
}

#skills .section__container{
  display: flex;
  flex-direction: column;

}
#education .section__container,
#projects .section__container,
#contact .section__container {
  display: flex;
  flex-direction: column;
}

.profile-image {
    width: min(20rem, 70%);
    height: auto; 
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  
  
    animation-duration: 1s;
    animation-name: pulseAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-play-state: paused;
    position: relative;
  top: 100px; 
  left: 90px;
  
 
  }
  
  .profile-image:hover {
    animation-play-state: running; 
  }
  .hire__me:hover{
    background-color: var(--secondary-color);
    color:#ffffff ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  @keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: white;
  margin-bottom: 1rem;
  animation: fadeInLeft 1s ease-out;
}
@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.title span {
  font-weight: 600;
}
.about__text,
.skills__content,
.education__content,
.projects__content,
.contact__content {
  color: var(--text-light);
  line-height: 1.5rem;
}
.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
  position:relative;
  top: 30px;
  
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor:pointer;

}

.hire__me {
  background-color: var(--primary-color);
  color: var(--extra-light);
}

.hire__me:hover {
  background-color: var(--primary-color-dark);

}

.say-hi-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.say-hi {
  background-color: transparent;
  color: var(--primary-color);
  font-size: 3rem; 
  padding: 1.5rem 3rem; 
  
}

.say-hi:hover {
  background-color: var(--primary-color-dark); 
  color: #ffffff;
}
.section__title {
  margin-bottom: 1rem;}

.section__content {
  margin-top: 0.5rem; 
}


.skills__icons {
  display: flex;
  gap: 4rem; /* Adjust the gap between icons */
  justify-content: center; 
  flex-wrap: wrap;
  top: 100rem; 

  /* Center items horizontally */
}
.skill {
  text-align: center;
  flex: 0 0 calc(33.33% - 1rem);
  margin-bottom: 1rem;

}
.skills__group {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 800px;
  margin: auto;

}
.skills__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  justify-items: center;
 
}

.skill i {
  font-size: 3rem;
}
.skill span {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-light);}

.skills__icons i {
  font-size: 3rem; 
}
.skill:hover {
  transform: translateY(-5px);

  
}

.skill i:hover {
  color: var(--primary-color); 
}

.education-subtopic {
  background-color: var(--secondary-color);
  padding: 1.5rem;
  border-radius: 8px;
}

.education-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.education-content {
  color: var(--text-dark);
  line-height: 1.6;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
}

.project-details {
  padding: 20px;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1rem;
  color: #666;
}

.project-button {
  display: inline-block;
  padding: 10px 20px;
  background-color:var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.project-button:hover {
  background-color: var(--secondary-color);
  color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-4px); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}




#suggestions {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 0%;
  scroll-margin-top: 80px;
}

#suggestions .section__container {
  max-width: 800px;
  margin: auto;
}

#suggestions .section__title {
  font-size: 2rem;
  margin-bottom: 0%;
}

#suggestions .section__subtitle {
  font-size: 1.2rem;
  color: #666;
 
  
}

#suggestions .suggestions__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#suggestions .form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}

#suggestions textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  resize: vertical;
}

#suggestions .submit__btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color:var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#suggestions .submit__btn:hover {
  background-color: var(--secondary-color);
  color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}


footer {
  background-color: var(--secondary-color);
  color: var(--text-light);
  padding: 2rem 0;
  text-align: center;
}

.footer__container {
  max-width: var(--max-width);
  margin: auto;
}

.social__icons {
  display: flex;
  justify-content: center;
}

.social__icons a {
  color: var(--text-light);
  font-size: 1.5rem;
  margin: 0 1rem;
}

.social__icons a:hover {
  color: var(--primary-color);
}

.social__icons i {
  transition: color 0.3s;
}

.copyright {
  color: var(--text-light);
  font-size: 0.8rem;
  margin-top: 1rem;
}


@media (width < 750px) {
  .say-hi-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem; 
  }
  #about {
    padding-top: 0%; 
    scroll-margin-top: 0px;
  }
  #skills {
    padding-top: 15px; 
    scroll-margin-top: 0px; 
  }
  #education {
    padding-top: 15px; 
    scroll-margin-top: 0px;
  }
  #projects {
    padding-top: 15px; 
    scroll-margin-top: 0px;
  }
  #suggestions {
    padding-top: 10px;
    scroll-margin-top: 0px; 
  }
  
  .say-hi {
    font-size: 2rem; 
    padding: 1rem 2rem;
  }
  #home .section__container {
    padding: 10rem 1rem 5rem 1rem;
    grid-template-columns: 1fr;
  }
  
  #home .image {
    order: -1;
  }
  .portfolio {
    color: var(--primary-color);
  }
  
  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
  }
  
  .image {
    display: grid;
    place-items: center;
    grid-area: 1/1/2/2;
  }
  
  .image img {
    width: min(25rem, 90%);
    border-radius: 100%;
  }
  
  
  
  
  
  nav .checkbox {
      display: block;
  }
  
  ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      background-color: var(--secondary-color);
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
  }
  
  nav #check:checked ~ ul {
    left: 0;
  }


    ul li a {
      font-size: 1.25rem;
    }
  
  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }
  #home .section__container {
    padding: 10rem 1rem 5rem 1rem;
    grid-template-columns: 1fr;
  }
  
  #home .image {
    order: -1;
  }
  
  .image {
    grid-area: 1/1/2/2;
  }
  
  .action__btns {
    margin: auto;
  }
  .about__content {
    flex-direction: column; 
  }

  .about__image {
    order: -1;
    width: 100%; 
    margin-bottom: 1rem; 
    
  }

  .about__text {
    width: 100%;
  }
  .skill {
    grid-template-columns: repeat(2, 1fr); 
  }
  .skills__grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .profile-image {
    width: min(150px, 50%);

    top: 5px;
   left: 0px;

  }
  .education-subtopic {
    padding: 1rem;
  }

  .education-subtitle {
    font-size: 1.3rem;
  }

  .education-content {
    font-size: 1rem; 
  }
  .social__links {
    display: none;
  }



  
}

